/* IMAGEN LUPA */
.icon.icon-lupa{
    width: 24px;
    height: 21px;
    background: url(../image/lupa.png) transparent no-repeat 0 0;
    margin-right: 2px;
    margin-left: -5px;
    margin-top: 4px;
}


.buscar{
        color: #fff !important;
        text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.1);

        background-color: #ff8800;
        *background-color: #ff8800;
        background-image: -ms-linear-gradient(bottom, #FD8600 8%, orange 75%);
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.08, #FD8600),color-stop(0.75, orange));
        background-image: -webkit-linear-gradient(bottom, #FD8600 8%, orange 75%);
        background-image: -o-linear-gradient(bottom, #FD8600 8%, orange 75%);
        background-image: linear-gradient(bottom, #FD8600 8%, orange 75%);
        background-image: -moz-linear-gradient(bottom, #FD8600 8%, orange 75%);
        background-repeat: repeat-x;
        border: 1px solid #ff8800;

        *border: 0;
        border-bottom-color: #D70;
    }